<?xml version="1.0"?>
<!--
/**
 * Eggwhite_Upload extension
 *
 *
 * @category Eggwhite Cartupload
 * @package  Eggwhite_Upload
 * @author   D.V <Eggwhite Dev>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <catrupload>
            <active_display>
                <size>1</size>
                <maxfile>1</maxfile>
            </active_display>
        </catrupload>
    </default>
</config>
